---
import LayoutDashboard from "../../../layouts/LayoutDashboard.astro";
import ConvocatoriasDoc from "../../../components/formdoc/ConvocatoriaDocente"; // Importa el componente de React
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convocatorias</title>
</head>
<body>
    <LayoutDashboard>
        <!-- Usar el componente de React -->
        <ConvocatoriasDoc client:load />
    </LayoutDashboard>
</body>
</html>