---
import LayoutDashboard from "../../../layouts/LayoutDashboard.astro";
import { ManageAreas } from "../../../components/docentes/areas/ManageAreas";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Áreas de Interes</title>
</head>
<body>
    <LayoutDashboard>
     
        <ManageAreas client:load/>
    </LayoutDashboard>
    
</body>
</html>